{% extends 'base.html' %}
{% block title %} About Us {% endblock %}
{% block link %} <link rel="stylesheet" href="../../static/css/about.css" media="screen"> {% endblock %}

{% load static %}
{% block content %}

<!-- About-->
<section class="u-clearfix u-white u-section-1" id="carousel_61f3">
  <div class="u-clearfix u-sheet u-sheet-1">
    <img class="u-expanded-width u-image u-image-default u-image-1" src="{% static 'images/gc5650251d3d8625115cbb5e4464f43b1d32f7202efaf6a9f4db1ca4578b0bc5bccfe0ff72298707689d4df3a31561119a46410519c4a051a51f33bf6a9404bb9_1280.jpg' %}" alt="" data-image-width="1280" data-image-height="857">
    <div class="u-clearfix u-layout-wrap u-layout-wrap-1">
      <div class="u-layout" style="">
        <div class="u-layout-row" style="">
          <div class="u-container-style u-layout-cell u-shape-rectangle u-size-60 u-layout-cell-1" data-animation-name="customAnimationIn" data-animation-duration="1000" data-animation-direction="X">
            <div class="u-container-layout u-container-layout-1"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="u-container-style u-expanded-width u-group u-palette-1-base u-shape-rectangle u-group-1">
      <div class="u-container-layout u-container-layout-2">
        <h5 class="u-custom-font u-font-ubuntu u-text u-text-default u-text-1">About Us</h5>
        <div class="u-border-2 u-border-white u-shape u-shape-bottom u-shape-left u-shape-1"></div>
        <h5 class="u-custom-font u-font-lato u-text u-text-body-alt-color u-text-2" spellcheck="false">
          <span style="font-weight: 400;">Imagine how enriching it would be to learn about the experiences and accomplishments of the many who have departed while visiting a cemetery. QR My Ancestors enable users with a free account to create unique profiles pages for deceased individuals they love to share their life story. Each profile page will have a unique QR code that can be placed at a gravesite for visitors to easily scan and learn more about the story behind the name etched into the headstone.&nbsp;</span>
          <br>
          <br><b>
            <span style="font-weight: 400;">Qr My Ancestors was founded in 2022 by Alex Wirick, Kizy Matzenbacher, Marcus LaBar, and Amy Zhang. The idea of a QR code on a gravestone isn't new; however, the founders saw the need to use this technology and expand the opportunity to all U.S. states.&nbsp;&nbsp;<br>
            </span>
            <br>
            <span style="font-weight: 400;">Our ancestors are an important part of our lives. They ultimately surround us through their gravesites. The ability to understand their trials, their opportunities and their journeys provide invaluable knowledge.&nbsp;</span></b>
          <br>
          <br>
        </h5>
        <div class="u-rotation-parent u-rotation-parent-1">
          <div class="u-border-2 u-border-white u-rotate-180 u-shape u-shape-bottom u-shape-left u-shape-2"></div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="u-align-center u-clearfix u-section-2" id="sec-c27e">
  <div class="u-align-center u-clearfix u-sheet u-valign-middle u-sheet-1">
    <h2 class="u-text u-text-default u-text-palette-1-dark-1 u-text-1">Create an account for free!</h2>
    <a href="{%url 'pages:register'%}" class="u-active-palette-1-light-2 u-border-2 u-border-grey-75 u-btn u-btn-round u-button-style u-hover-palette-1-dark-1 u-palette-1-light-2 u-radius-50 u-btn-1">Get Started</a>
    <h2 class="u-text u-text-default u-text-palette-1-dark-1 u-text-1">Login Here</h2>
    <a href="{%url 'pages:login'%}" class="u-active-palette-1-light-2 u-border-2 u-border-grey-75 u-btn u-btn-round u-button-style u-hover-palette-1-dark-1 u-palette-1-light-2 u-radius-50 u-btn-1">Welcome Back</a>
  </div>
</section>
<section class="u-clearfix u-section-3" id="sec-7921">
  <div class="u-clearfix u-sheet u-sheet-1">
    <div class="u-container-style u-group u-palette-1-base u-shape-rectangle u-group-1">
      <div class="u-container-layout u-container-layout-1">
        <h5 class="u-custom-font u-font-ubuntu u-text u-text-body-alt-color u-text-1">Que​stions or Technical Issues</h5>
        <p class="u-custom-font u-font-georgia u-text u-text-2" spellcheck="false"><b style="">Contact: qrmyancestors@gmail.com</b>
          <font color="#4894b6" style=""></font>
        </p>
        <div class="u-border-2 u-border-white u-rotate-180 u-shape u-shape-bottom u-shape-left u-shape-1"></div>
      </div>
    </div>
  </div>
</section>



{% endblock %}


