{% extends 'base.html' %}
{% block title %} Create Profile {% endblock %}
{% block link %} <link rel="stylesheet" href="../../static/css/biocreate.css" media="screen"> {% endblock %}
{% load static %}
{% block content %}

<style>
    form {
        width: 500px;
        margin: auto;
        padding: 20px;
        border: 1px solid #ccc;
        border-radius: 10px;
    }
    form label {
        display: block;
        margin-bottom: 10px;
    }
    form input, form textarea {
        width: 100%;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
    }
    form button {
        margin-top: 20px;
        padding: 10px;
        border: none;
        border-color: #ccc;
        border-radius: 5px;
        background-color: #4894b6;
        color: white;
        font-weight: bold;
        cursor: pointer;
    }
    
</style>

<section class="u-align-center u-clearfix u-section-1" id="sec-a0ef">
    <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
      <h2 class="u-align-center u-custom-font u-font-ubuntu u-text u-text-custom-color-1 u-text-1" spellcheck="false">Create Profile</h2>
    </div>
  </section>

  
 <form method="POST">
     {% csrf_token %}
     <table>
         {{ form.as_table }}
     </table>
     <div class="u-align-center u-form-group u-form-submit">
        <button type="submit">Submit</button>
      </div>
     
 </form>
 <br> <br> <br> <br>
{% endblock %}

