{% extends 'base.html' %}
{% load static %}
{% block content %}
<style>
    form {
        width: 500px;
        margin: auto;
        padding: 20px;
        border: 1px solid #ccc;
        border-radius: 10px;
    }
    form label {
        display: block;
        margin-bottom: 10px;
    }
    form input, form textarea {
        width: 100%;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
    }
    form button {
        margin-top: 20px;
        padding: 10px;
        border: none;
        border-radius: 5px;
        background-color: #007bff;
        color: white;
        font-weight: bold;
        cursor: pointer;
    }
    
    form {
        margin-bottom: 790px; /* add a 20px margin at the bottom of the form */
      }

    .p1 {
        color: #333;
        font-size: 18px; /* set the font size to 16px */
        font-family: sans-serif; /* use a sans-serif typeface */
        font-weight: bold; /* set the font weight to bold */
    }


    /* Add some padding to create a clean layout */
    button {
    padding: 10px 20px;
    }

    /* Use a background color on the button */
    button {
    background-color: var(--primary-color);
    color: #fff;
    }

    /* Use a hover effect to change the background color on mouseover */
    button:hover {
    background-color: #555;
    }

    /* Use a responsive design to ensure the button looks great on all devices */
    @media (max-width: 600px) {
    button {
        font-size: 14px;
    }
    }

      
</style>
<center>
    <h1>Delete Biography</h1>
<br>
<br>
<p class= p1>Are you sure you want to delete {{ biography.name }} deceased information?</p>
<form class = 'form' method="POST">
    {% csrf_token %}
    <button type="submit">Confirm</button>
</form>

</center>

{% endblock %}
