{% extends 'base.html' %}
{% block title %} View Profiles {% endblock %}
{% block link %} <link rel="stylesheet" href="../../static/css/ancestors.css" media="screen"> {% endblock %}
{% load static %}
{% block content %}
      
<style>
    div {
      padding-top: 20px;
      padding-right: 10%;
      padding-left: 10%;
    }

    table {
        margin-left: auto;
        margin-right: auto;
        width: 100%;
      }
      
      tr:nth-child(odd) td {
        background-color: #FFFFFF;
      }
      
      tr:nth-child(even) td {
        background-color: #DDDDDD;
      }
      
      td {
        border: 0.5px solid grey;
        text-align: left;
        font-size: 14px;
        padding: 20px ;

      }
      th {
        font-size: 13px;
      }
      
    button {
        
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        cursor: pointer;
        width: 100%;
        border-radius:10%;
        border: 2px solid;
        border-color: #ccc;
    }
    :root {
        --primary-color: #333;
        --secondary-color: #f7f7f7;
      }
      
      /* Add some padding to create a clean layout */
      button {
        padding: 15px 10px;
      }
      
      /* Use a background color on the button */
      button {
        background-color: var(--primary-color);
        color: #fff;
      }
      
      /* Use a hover effect to change the background color on mouseover */
      button:hover {
        background-color: #555;
      }
      
      /* Use a responsive design to ensure the button looks great on all devices */
      @media (max-width: 600px) {
        button {
          font-size: 14px;
        }
      }
      These are just a few ideas to get you started. There are countless ways to improve the visual appeal of a button with CSS, so have fun experimenting and finding what works best for you!
      
    .delete-button {
        background-color: #4894b6;
        color: white;
    }

    .update-button {
        background-color: #4894b6;
        color: white;
    }

    .view-button {
      background-color: white;
      color: black;
    }

    button:hover {
        opacity: 0.8;
    }
</style>

<section class="u-align-center u-clearfix u-section-1" id="sec-a0ef">
    
      <h2 class="u-align-center u-custom-font u-font-ubuntu u-text u-text-custom-color-1 u-text-1" spellcheck="false">My Ancestors</h2>
      <br>
      <a href="{% url 'pages:bio-create' %}" class="u-align-center u-border-2 u-border-grey-75 u-btn u-btn-round u-button-style u-hover-palette-1-light-1 u-palette-1-base u-radius-50 u-btn-1">Add Ancestor</a>
      {% comment %} <p class="u-text u-text-2">Positively&nbsp;</p> {% endcomment %}
    <br><br><br>
  </section>


<div>
  <table >
        <thead>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Gender</th>
                <th>Birthdate</th>
                <th>Birth City</th>
                <th>Birth State</th>
                <th>Birth Country</th>
                <th>Deathdate</th>
                <th>Death City</th>
                <th>Death State</th>
                <th>Death Country</th>
                <th>Bio</th>
            </tr>
        </thead>
        <tbody>
            {% for biography in biographies %}
                <tr>
                    <td>{{ biography.first_name }}</td>
                    <td>{{ biography.last_name }}</td>
                    <td>{{ biography.gender }}</td>
                    <td>{{ biography.birthdate }}</td>
                    <td>{{ biography.birth_city }}</td>
                    <td>{{ biography.birth_state }}</td>
                    <td>{{ biography.birth_country }}</td>
                    <td>{{ biography.deathdate }}</td>
                    <td>{{ biography.death_city }}</td>
                    <td>{{ biography.death_state }}</td>
                    <td>{{ biography.death_country }}</td>
                    <td>{{ biography.bio }}</td>
                    <td>
                        <a href="/{{ biography.pk }}/showBio/"><button class="view-button">View</button></a>
                        <a href="/{{ biography.pk }}/bioUpdate/"><button class="update-button">Update</button></a>
                        <a href="/{{ biography.pk }}/bioDelete/"><button class="delete-button">Delete</button></a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
  </div>

  <br><br><br><br><br><br><br><br><br>
  
{% comment %} <table>
    <thead>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Gender</th>
            <th>Birthdate</th>
            <th>Birth City</th>
            <th>Birth State</th>
            <th>Birth Country</th>
            <th>Deathdate</th>
            <th>Death City</th>
            <th>Death State</th>
            <th>Death Country</th>
            <th>Bio</th>
        </tr>
    </thead>
    <tbody>
        {% for biography in biographies %}
            <tr>
                <td>{{ biography.first_name }}</td>
                <td>{{ biography.last_name }}</td>
                <td>{{ biography.gender }}</td>
                <td>{{ biography.birthdate }}</td>
                <td>{{ biography.birth_city }}</td>
                <td>{{ biography.birth_state }}</td>
                <td>{{ biography.birth_country }}</td>
                <td>{{ biography.deathdate }}</td>
                <td>{{ biography.death_city }}</td>
                <td>{{ biography.death_state }}</td>
                <td>{{ biography.death_country }}</td>
                <td>{{ biography.bio }}</td>
                <td>
                    
                    <a href="/{{ biography.pk }}/bioUpdate/"><button class="delete-button"><b>Update</b></button></a>
                    <a href="/{{ biography.pk }}/bioDelete/"><button class="update-button"><b>Delete</b></button></a>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table> {% endcomment %}


    
{% endblock %}


