{% extends 'base.html' %}
{% load static %}
{% block content %}
 <style>
        form {
            width: 500px;
            margin: auto;
            padding: 20px;
            border: 1px solid #ccc;
            border-radius: 10px;
        }
        form label {
            display: block;
            margin-bottom: 10px;
        }
        form input, form textarea {
            width: 100%;
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 5px;
        }
        form button {
            margin-top: 20px;
            padding: 10px;
            border: none;
            border-radius: 5px;
            background-color: #007bff;
            color: white;
            font-weight: bold;
            cursor: pointer;
        }
 </style>
<h1>{{ deceased.first_name }} {{ deceased.last_name }}</h1>

<p>Born: {{ deceased.birthdate }} in {{ deceased.birth_city }}, {{ deceased.birth_state }} {{ deceased.birth_country }}</p>
<p>Died: {{ deceased.deathdate }} in {{ deceased.death_city }}, {{ deceased.death_state }} {{ deceased.death_country }}</p>

<h2>Biography</h2>
<p>{{ deceased.bio }}</p>
{% endblock %}