{% extends 'base.html' %}
{% load static %}
{% block content %}
<head>
  <link rel="stylesheet" href="{% static '/index.css' %}" media="screen">
</head>
<section class="u-align-center-lg u-align-center-md u-align-center-xl u-align-left-sm u-align-left-xs u-clearfix u-grey-80 u-valign-top u-section-1" id="carousel_0eba">
  <div class="u-align-center u-container-style u-expanded-width u-grey-80 u-group u-shape-rectangle u-group-1" data-animation-name="customAnimationIn" data-animation-duration="1000" data-animation-delay="500">
    <div class="u-container-layout u-container-layout-1">
    <h1 class="u-custom-font u-text u-text-1"> QR My Ancestors</h1>
    <p class="u-custom-font u-text u-text-2">We are on a mission to connect people with<br>their past on a new level.<br></p>
    <br>
    <h4 class="u-custom-font u-text u-text-3">What's your Story?</h4>
    <a href="#" class="u-active-white u-border-none u-btn u-btn-round u-button-style u-hover-white u-palette-2-base u-radius-50 u-text-active-black u-text-body-alt-color u-text-hover-black u-btn-1" data-animation-name="" data-animation-duration="0" data-animation-delay="0" data-animation-direction="">learn more</a>
    </div>
  </div>
  <div class="u-container-style u-expanded-width u-group u-image u-shape-rectangle u-image-1" data-image-width="1280" data-image-height="853">
    {% comment %} <div class="u-container-layout u-container-layout-2">
      <a href="#" class="u-active-white u-border-none u-btn u-btn-round u-button-style u-hover-white u-palette-2-base u-radius-50 u-text-active-black u-text-body-alt-color u-text-hover-black u-btn-2" data-animation-name="" data-animation-duration="0" data-animation-delay="0" data-animation-direction="">learn more</a>
      <!--<p class="u-text u-text-body-alt-color u-text-4">Images from <a href="https://www.freepik.com" class="u-border-1 u-border-active-palette-2-base u-border-hover-palette-2-base u-border-no-left u-border-no-right u-border-no-top u-border-white u-bottom-left-radius-0 u-bottom-right-radius-0 u-btn u-button-link u-button-style u-none u-radius-0 u-text-body-alt-color u-top-left-radius-0 u-top-right-radius-0 u-btn-3" target="_blank">Freepik</a>
      </p>-->
    </div> {% endcomment %}
  </div>
</section>
{% endblock %}