{% extends 'base.html' %}
{% load static %}
{% block content %}
<!-- login-->
<div class="u-align-center-lg u-align-center-md u-align-center-xl u-align-left-sm u-align-left-xs u-clearfix u-valign-top u-section-1" id="carousel_0eba">
    <h2>Log In</h2>

    <form action="/login/" method="POST">
        {% csrf_token %}
        <fieldset style="width:0px;">
            <legend>Login</legend>
            <label for="username">Username:</label>
            <input type="text" name='usn' id="usn" title="Enter your username">
            <br>
            <label for="thePassword">Password:</label>
            <input type="password" name='psw'  id="thePassword" title="Enter your username">
            <br>
            <br><br>
            <button type="submit" id="submit">Log in</button>
            <br><br>
            <p><a href={%url 'pages:register'%}>Create account here</p>
        </fieldset>
    </form>
</div>
{% endblock %}


