{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="u-align-center-lg u-align-center-md u-align-center-xl u-align-left-sm u-align-left-xs u-clearfix u-valign-top u-section-1" id="carousel_0eba">
    <form action= method=>
        <fieldset style="width:0px;">
            <legend>Create Your Account</legend>
            <label for="email">Email Address:
            <br>
            <input type="text" id="email" title="Enter the age in years">
            </label>
            <br><br>
            <button type="submit" id="submit">Continue</button>
        </fieldset>
    </form>
</div>
{% endblock %}