{% extends 'base.html' %}
{% block title %} Login {% endblock %}
{% block link %} <link rel="stylesheet" href="../../static/css/login.css" media="screen"> {% endblock %}

{% load static %}
{% block content %}

<!-- login-->
<section class="u-clearfix u-section-1" id="sec-d41e">
    <div class="u-clearfix u-sheet u-sheet-1">
      <h2 class="u-custom-font u-font-ubuntu u-text u-text-custom-color-1 u-text-default u-text-1" spellcheck="false">Login</h2>
    </div>
  </section>
  <section class="u-clearfix u-section-2" id="sec-1fb0">
    <div class="u-clearfix u-sheet u-valign-top u-sheet-1">
      <div class="u-form u-form-1">
        <form action="https://forms.nicepagesrv.com/Form/Process" class="u-clearfix u-form-spacing-10 u-form-vertical u-inner-form" source="email" name="form" style="padding: 10px;">
            {% csrf_token %}
            <div class="u-form-group u-form-name">
            <label for="name-98e4" class="u-label">Username</label>
            <input type="text" placeholder="Enter your username" id="usn" name="usn" class="u-border-1 u-border-grey-30 u-input u-input-rectangle u-white" required="required">
          </div>
          <div class="u-form-group">
            <label for="email-98e4" class="u-label">Password</label>
            <input type="password" placeholder="Enter your password" id="thePassword" name="psw" class="u-border-1 u-border-grey-30 u-input u-input-rectangle u-white" required="required">
          </div>
          <div class="u-align-center u-form-group u-form-submit">
            <a href="{%url 'pages:register'%}" class="u-active-palette-1-light-2 u-border-none u-btn u-btn-submit u-button-style">Login</a>
            <input type="submit" value="submit" class="u-form-control-hidden">
          </div>

          <div class="u-form-send-message u-form-send-success"> Thank you! Logging in. </div>
          <div class="u-form-send-error u-form-send-message"> Unable to login. Please fix errors then try again. </div>
          <input type="hidden" value="" name="recaptchaResponse">
          <input type="hidden" name="formServices" value="2b34fdb62d8d867ebe2afe7522e86fe8">
        </form>
      </div>
      <a href="{%url "pages:register"%}" class="u-active-none u-border-2 u-border-no-left u-border-no-right u-border-no-top u-border-palette-1-base u-bottom-left-radius-0 u-bottom-right-radius-0 u-btn u-btn-rectangle u-button-style u-hover-none u-none u-radius-0 u-top-left-radius-0 u-top-right-radius-0 u-btn-2">Don't have an account? Sign up now!</a>
    </div>
  </section>


{% endblock %}

{% comment %} 
{% extends 'base.html' %}
{% load static %}
{% block content %}
<!-- login-->
<div class="u-align-center-lg u-align-center-md u-align-center-xl u-align-left-sm u-align-left-xs u-clearfix u-valign-top u-section-1" id="carousel_0eba">
    <h2>Log In</h2>

    <form action="/login/" method="POST">
        {% csrf_token %}
        <fieldset style="width:0px;">
            <legend>Login</legend>
            <label for="username">Username:</label>
            <input type="text" name='usn' id="usn" title="Enter your username">
            <br>
            <label for="thePassword">Password:</label>
            <input type="password" name='psw'  id="thePassword" title="Enter your username">
            <br>
            <br><br>
            <button type="submit" id="submit">Log in</button>
            <br><br>
            <p><a href={%url 'pages:register'%}>Create account here</p>
        </fieldset>
    </form>
</div>
{% endblock %}

 {% endcomment %}
