{% extends 'base.html' %}
{% block title %} Login {% endblock %}
{% block link %} <link rel="stylesheet" href="../../static/css/login.css" media="screen"> {% endblock %}

{% load static %}
{% block content %}

{% load crispy_forms_tags %}         
<style>
	.myDiv {
		text-align: left;
		width: 85%;
		padding-right: 15%;
    	padding-left: 15%;
		margin: 0 auto;
	}
	form button {
		margin-top: 20px;
		padding: 10px;
		border: none;
		border-color: #ccc;
		border-radius: 5px;
		background-color: #4894b6;
		color: white;
		font-weight: bold;
		cursor: pointer;
	}
	
  </style>
<!--Register--> 
<section class="u-clearfix u-section-1" id="sec-d41e">
	<div class="u-clearfix u-sheet u-sheet-1">
	  <h2 class="u-custom-font u-font-ubuntu u-text u-text-custom-color-1 u-text-default u-text-1" spellcheck="false">Register</h2>
	</div>
  </section>


<div class="myDiv">
	<form method="POST">
		{% csrf_token %}
		{{ register_form|crispy }}                    
		<button classs="btn btn-primary" type="submit">Register</button>
	</form>
	<p class="text-center">If you already have an account, <a href="/login">login</a> instead.</p>
</div>
<br><br><br><br><br><br><br><br>

{% endblock %}