{% extends 'base.html' %}
{% block title %} View Profiles {% endblock %}
{% block link %} <link rel="stylesheet" href="../../static/css/viewonebio.css" media="screen"> {% endblock %}
{% load static %}
{% block content %}

<section class="u-align-center u-clearfix u-section-1" id="sec-a0ef">
  <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
    <h2 class="u-align-center u-custom-font u-font-ubuntu u-text u-text-custom-color-1 u-text-1" spellcheck="false">{{biography.first_name}} {{biography.last_name}}</h2>
  </div>
</section>
<section class="u-clearfix u-white u-section-2" id="sec-0a6a">
  <div class="u-clearfix u-sheet u-sheet-1">
    <h3 class="u-text u-text-1">First Name: <span style="font-weight: 400;">{{ biography.first_name }}</span>
      <br>Last Name:&nbsp;<span style="font-weight: 400;">{{ biography.last_name }}</span>
      <br>Gender: <span style="font-weight: 400;">{{ biography.gender }}</span>
      <br>Birthdate:&nbsp;<span style="font-weight: 400;">{{ biography.birthdate }}</span>
      <br>Birth Place:&nbsp;<span style="font-weight: 400;">{{ biography.birth_city }} {{ biography.birth_state }} {{ biography.birth_country }}</span>
      <br>Date of Death:&nbsp;<span style="font-weight: 400;">{{ biography.deathdate }}</span>
      <br>Place of Death:&nbsp;<span style="font-weight: 400;"> {{ biography.death_city }} {{ biography.death_state }} {{ biography.death_country }}</span>
      <br>
      
      <br>Biography
      <br><br>
      <span style="font-weight: 400;">{{ biography.bio }}</span>
    </h3>
    </p>
  </div>
</section>
<section class="u-clearfix u-white u-section-3" id="sec-9cbd">
  <div class="u-clearfix u-sheet u-sheet-1">
    <div class="u-clearfix u-gutter-10 u-layout-wrap u-layout-wrap-1">
      <div class="u-layout" style="">
        <div class="u-layout-row" style="">
          <div class="u-container-style u-layout-cell u-left-cell u-size-30 u-size-xs-60 u-layout-cell-1" src="">
            <div class="u-container-layout u-valign-middle u-container-layout-1">
              <h2 class="u-align-center u-text u-text-default u-text-1">QR Code</h2>
              <a href="#" class="u-btn u-btn-round u-button-style u-radius-50 u-btn-1">Generate</a>
            </div>
          </div>
          <div class="u-align-center u-container-style u-image u-layout-cell u-right-cell u-size-30 u-size-xs-60 u-image-1" src="" data-image-width="1080" data-image-height="1080">
            <div class="u-container-layout u-valign-middle u-container-layout-2" src=""></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


    
{% endblock %}


