.u-section-1 .u-sheet-1 {
  min-height: 298px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  font-size: 4.5rem;
  width: 850px;
  margin: 65px auto 0;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.125rem;
  letter-spacing: 1px;
  margin: 22px auto 0;
  padding: 13px 38px 15px 37px;
}

.u-section-1 .u-text-2 {
  line-height: 1.8;
  margin: 24px 0;
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    font-size: 1.5rem;
    width: 340px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 464px;
}

.u-section-2 .u-table-1 {
  margin: 59px auto 59px 0;
}

.u-section-2 .u-table-entity-1 {
  min-height: 100px;
}

.u-block-b038-4 {
  background-image: none;
}

@media (max-width: 1199px) {
  .u-section-2 .u-table-1 {
    margin-right: initial;
    margin-left: initial;
  }
}