.u-section-1 .u-sheet-1 {
  min-height: 186px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  font-size: 3rem;
  margin: 67px auto 60px;
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    font-size: 1.5rem;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 465px;
}

.u-section-2 .u-form-1 {
  height: 241px;
  width: 570px;
  margin: 0 auto;
}

.u-section-2 .u-btn-2 {
  background-image: none;
  border-style: solid;
  margin: 7px auto 60px;
  padding: 0;
}

@media (max-width: 767px) {
  .u-section-2 .u-form-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-form-1 {
    width: 340px;
  }
}