{% extends 'base.html' %}
{% block title %} My Ancestors {% endblock %}
{% block link %} <link rel="stylesheet" href="../../static/css/ancestors.css" media="screen"> {% endblock %}

{% load static %}
{% block content %}

<!-- All Ancestors-->

<section class="u-align-center-lg u-align-center-md u-align-center-sm u-align-center-xs u-align-left-xl u-clearfix u-image u-shading u-section-1" id="carousel_3276" data-image-width="1280" data-image-height="853">
    <div class="u-clearfix u-sheet u-sheet-1">
      <div class="u-list u-list-1">
        <div class="u-repeater u-repeater-1">
          <div class="u-container-style u-custom-color-3 u-list-item u-radius-50 u-repeater-item u-shape-round u-list-item-1" data-animation-name="customAnimationIn" data-animation-duration="2000">
            <div class="u-container-layout u-similar-container u-container-layout-1">
              <h2 class="u-custom-font u-font-ubuntu u-text u-text-custom-color-1 u-text-1" spellcheck="false">My Ancestors</h2>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  
{% endblock %}


